@use 'util';

.App {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--app-background);
   font-family: "Poppins", sans-serif;
 }
 
 .heading {
   text-transform: capitalize;
   font-size: util.rem(40);
   margin: util.rem(30) 0;
   color: var(--heading-text);
   z-index: 1;
   text-align: center;
 }
 
 @media (max-width: util.rem(800)){
   .heading {
     margin: util.rem(15) 0;
     font-size: util.rem(35);
   }
 }