:root {
   --app-background: #2f74c0;
   --heading-text: white;
   --addTask-button: #2fc058;
   --addTask-button-text: white;
   --addTask-button-hover: #38e257;
   --todos-heading: white;
   --todos-container: rgb(50, 195, 205);
   --completed-container: rgb(235, 91, 65);
   --todos-drag-active: rgb(0,221, 236);
   --completed-drag-active: rgb(255, 38, 0);
}